{% assign spec = site.data.openapi_spec %}
{% comment %} {% assign spec = site.data.pet %} {% endcomment %}
{% comment %} {% assign spec = site.data.petstore_spec %} {% endcomment %}

<div class="wrapper">
  <div class="schema-toc">
    <div class="schema-toc_paths">
      <div class="schema-toc_title">Конечные точки</div>
      {% for path_item in spec.paths %}
        {% assign path = path_item[0] %}
        {% assign methods = path_item[1] %}
        {% for method_item in methods %}
          {% assign method = method_item[0] %}
          {% assign operation = method_item[1] %}
          <div class="schema-toc_link">
            <a href="#{{ method }}{{ path }}"><span class="schema-toc_prefix-{{ method }}">{{ method | upcase}}</span> {{ path }}</a>
          </div>
        {% endfor %}
      {% endfor %}
      {% if spec.components %}
          <div class="schema-toc_components">Компоненты</div>
      {% endif %}
    </div>
  </div>

  <div class="schema_wrapper">
    <!-- Рендеринг обязательных параметров схемы: заголовок,версия и описание API -->
    <h1 class="api-title">{{ spec.info['title'] }} </h1>
    <div class="api-version">Версия API: {{ spec.info['version'] }}</div>
    {% if spec.info.description %}
      <div class="api-description">
        <div class="api-description_title">Описание API:</div>
        <div class="api-description_content">{{ spec.info['description'] | markdownify }}</div>
      </div>
    {% endif %}
    <!-- Рендеринг необязательных параметров схемы: список серверов -->
    {% if spec.servers %}
    <div class="api-servers">
      <div class="api-servers_title">Список серверов:</div>
      {% for server in spec.servers %}
      <div class="api-servers_item">
        {% if server.description %}
          {{ server['description'] }}:
        {% endif %}
        {% if server.url %}
          {{ server['url'] }}
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <!-- Рендеринг эндпоинтов -->
    <div class="api-paths">
      {%- include endpoints.liquid -%}
    </div>
    <div class="api-components">
      {%- include api_components.liquid -%}
    </div>
  </div>
</div>
