
<h2>Список конечных точек</h2>
{% for path_item in spec.paths %}
    {% assign path = path_item[0] %}
    {% assign methods = path_item[1] %}
    
    {% for method_item in methods %}
        {% assign method = method_item[0] %}
        {% assign operation = method_item[1] %}
        
        <div class="api-paths_endpoint" id="{{ method }}{{ path }}">
        <!-- Рендеринг названий эндпоинтов -->
        <div class="{{ method }}"><a href="#{{ method }}{{ path }}"><span class="schema-toc_prefix-{{ method }}">{{ method | upcase}}</span><span class="api-paths_path"> {{ path }} </span></a></div>
        <!-- Рендеринг краткого описания (summary) эндпоинтов -->
        {% if operation.summary %}
            <div class="api-paths__endpoint-summary">{{ operation.summary }}</div>
        {% endif %}
        <!-- Рендеринг описания (description) эндпоинтов -->
        {% if operation.description %}
            <div class="api-paths__endpoint-description">{{ operation.description }}</div>
        {% endif %}
        <!-- Рендеринг параметров эндпоинтов -->
        {% if operation.parameters %}
            <div class="api-paths__parameters">
            <div class="api-paths__title">Параметры:</div>
            <div class="parameters-table">
                <table>
                <thead>
                    <tr>
                    <th>№</th>
                    <th>Параметр</th>
                    <th>Тип, формат</th>
                    <th>Расположение</th>
                    <th>Обязательный</th>
                    <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                {% for parameter in operation.parameters %}
                    <!-- Рендеринг параметров, которые подтягиваются по ссылке -->
                    {% if parameter['$ref'] %}
                        {% assign ref_string = parameter['$ref'] %}
                        {% assign dynamic_path = "spec." | append: ref_string | remove: "#/" | replace: "/", "." %}
                        {% assign path_parts = dynamic_path | split: "." %}
                        {% assign result_object = spec %}
                        {% for part in path_parts %}
                            {% if part != "" and part != "spec" %}
                                {% assign result_object = result_object[part] %}
                            {% endif %}
                        {% endfor %}
                        <tr>
                        <td>{{ forloop.index }}</td>
                        <td><strong>  {{ result_object.name }} </strong></td>
                        <td><code>{{ result_object.schema['type'] }}</code>{% if result_object.schema['format'] %}
                            , <code>{{ result_object.schema['format'] }} </code>
                        {% endif %}</td>
                        <td>{{ result_object.in }} </td>
                        <td> {% if result_object.required %}<b>Да</b>{% else %}Нет{% endif %}</td>
                        <td> {% if result_object.description %}{{ result_object.description | strip }}{% endif %}</td>
                        </tr>
                    <!-- Рендеринг параметров, которые описаны как объект прямо в конечной точке -->
                    {% else %}
                        <tr>
                        <td>{{ forloop.index }}</td>
                        <td><strong>{{ parameter.name }}</strong></td>
                        <td><code>{{ parameter.schema['type'] }}</code>{% if result_object.schema['format'] %}
                            , <code> {{ result_object.schema['format'] }} </code>
                        {% endif %}</td>
                        <td>{{ parameter.in }}</td>
                        <td>{% if parameter.required %}<b>Да</b>{% else %}Нет{% endif %}</td>
                        <td>{% if parameter.description %}{{ parameter.description | strip }}{% endif %}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
                </table>
            </div>
            </div>
        {% endif %}
        <!--  Рендеринг тела запроса -->
        {%- include request_body.liquid -%}
        
        </div>
    {% endfor %}
{% endfor %}
